crypto deprecations in openssh

- [x] the OpenSSH 8.3 release announcement mentions that ssh-rsa public key fingerprints will be removed soon ([using SHA-1 is not anymore a good idea](https://eprint.iacr.org/2020/014.pdf)) RFC8332 is the easy way out (RSA fingerprints with SHA2); other options include: ECDSA with NIST P-256/384/512 and ED25519 (require further work on fiat / hacl to get ECDSA / EDDSA support) --> see #11
- [x] SHA-2 support for client authentication (RSA key) --> see #11 (without 8308, but using an educated guess)
- [ ] hmac support for hmac-sha2-256-etm@openssh.com and friends (the etm variants, specified in https://cvsweb.openbsd.org/cgi-bin/cvsweb/src/usr.bin/ssh/PROTOCOL?rev=1.37&content-type=text/x-cvsweb-markup)
- [ ] supported ciphers are AES-{128.192,256}-{CTR,CBC}, AEAD would be nice to have (CCM/GCM)
- [x] support a non-AES cipher (poly1305/chacha20) #14
- [x] curve25519 support for key exchange ([RFC 8731](https://tools.ietf.org/html/rfc8731)) - same as curve25519-sha256@libssh.org, see #15
- [x] ed25519 support for host keys and user keys ([RFC 8709](https://tools.ietf.org/html/rfc8709)), see #16
- [ ] find a hardened sshd configuration and figure out what else needs to be done for interoperability -> see e.g. https://medium.com/@jasonrigden/hardening-ssh-1bcb99cd4cef